<%- include('partials/head')%>

    <%- include('partials/navbar')%>
        <h1>Home Page <%= 4 + 5 + 1%>
        </h1>

        <p>
            <%= 'hello world' .toUpperCase() %>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos aspernatur ea magni ex, laborum
                recusandae
                assumenda mollitia aliquam adipisci, ipsum tempore, sint quasi. Excepturi perferendis, fugiat
                voluptas
                aperiam
                adipisci sunt!!!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eos veniam ipsa delectus, enim omnis
            obcaecati.
            Earum repudiandae possimus voluptates. Vel exercitationem pariatur voluptates reprehenderit consequuntur
            illum
            modi sed voluptatibus?
            Animi, libero inventore? Tempora perspiciatis cumque sed nobis, exercitationem ut expedita. Tempora
            delectus
            veritatis quisquam? Dolor rem saepe iure accusamus dolore laudantium laboriosam magnam aliquam. Eos
            voluptatum
            ad sit cupiditate.
        </p>
        <%- include('partials/footer')%>